<div id="page_wrapper">
</div>

<div id="content">
  <h1>Hello, My name is Farkhan Shah</h1>
  <p>Welcome to my Health blog project.</p>
  <p>I am experimenting with Rails, so this is cool to see how rails works.</p>
  <p>If you would like to see me hone my skills on Ruby on Rails, please find me 
    on Github <a href="https://github.com/Theshah1">Click Here</a>
  </div>
</div>